.datatable-crud-services .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-crud-services .product-image {
  width: 10rem;
  border: none;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
}

.datatable-crud-services .p-dialog .product-image {
  width: 15rem;
  margin: 0 auto 2rem auto;
  display: block;
}

.datatable-crud-services .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root
  > div
  > div
  > div.p-dataview-header
  > div
  > div:nth-child(1)
  > div.datatable-crud-services
  > div.card
  > div {
  border: none;
  margin-bottom: 0.1rem;
  max-height: 3.2rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
}
