.dataview-services .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.dataview-services .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.dataview-services .product-description {
  margin: 0 0 1rem 0;
}

.dataview-services .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.dataview-services .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.dataview-services .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.dataview-services .product-list-item img {
  width: 15rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.dataview-services .product-list-item .product-list-detail {
  flex: 1 1 0;
}

.dataview-services .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}

.dataview-services .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

.dataview-services .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

.dataview-services .product-list-item .p-button {
  margin-bottom: 0.5rem;
}

.dataview-services .product-grid-item {
  margin: 0.5em;
  border: 0.1rem solid #dee2e6;
  padding: 2rem;
}

.dataview-services .product-grid-item .product-grid-item-top,
.dataview-services .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataview-services .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.dataview-services .product-grid-item .product-grid-item-content {
  text-align: center;
}

.dataview-services .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .dataview-services .product-list-item {
    flex-direction: column;
    align-items: center;
  }

  .dataview-services .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .dataview-services .product-list-item .product-list-detail {
    text-align: center;
  }

  .dataview-services .product-list-item .product-price {
    align-self: center;
  }

  .dataview-services .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .dataview-services .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .p-dropdown.p-component.p-inputwrapper {
    margin-bottom: 1rem;
  }
}

.product-grid-item.card > div{
text-align: center;
}

.product-list-item {
  text-align: center;
}