@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

html {
  font-size: 82.5%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: inherit;
}
