.datatable-crud-visits .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-crud-visits .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-visits .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.datatable-crud-visits .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-row-template {
  display: flex;
  flex-wrap: nowrap;
}

.action-row-template-update-button {
  margin-bottom: 2rem;
}

.action-row-buttons-container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 8rem;
}

.individual-button-action-row {
  font-size: 3rem;
  justify-self: left;
  width: 6rem;
}

#root
  > div
  > div
  > div.datatable-crud-visits
  > div
  > div.p-datatable-wrapper
  > table
  > thead
  > tr
  > th {
  text-align: center;
}

#root
  > div
  > div
  > div.datatable-crud-visits
  > div
  > div.p-datatable-wrapper
  > table
  > tbody
  > tr
  > td {
  text-align: center;
}

#root > div > div > div.p-datatable-wrapper > table > thead > tr > th {
  text-align: center;
}

#root > div > div > div.p-datatable-wrapper > table > tbody > tr > td {
  text-align: center;
}