.forms-container {
  background: url('https://s3-ap-southeast-2.amazonaws.com/ish-oncourse-scc/ded288cf-acca-4def-945c-fea9a3455235')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form-register-customer .card {
  min-width: 45rem;
  margin-top: 4rem;
  padding: 3rem;
  background-color: rgb(228, 224, 224);
  border-radius: 1rem;
  margin-bottom: 4rem;
}
.form-register-customer .card form {
  margin-top: 2rem;
}
.form-register-customer .card .p-field {
  margin-bottom: 1.5rem;
}
.p-text-center {
  color: rgb(131, 110, 110);
}
.p-mt-2 {
  background: rgb(71, 71, 71);
  outline: none;
  border: 0.1rem black;
  font-size: 1.3rem;
}
@media screen and (max-width: 960px) {
  .form-register-customer .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-register-customer .card {
    width: 90%;
    min-width: 0;
  }
}
