.p-field-radiobutton {
  margin-top: 1rem;
  margin-left: 1rem;
}

.repairs-by-criteria-car-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.repairs-by-criteria-car-selector > div {
  line-height: 75px;
  font-size: 30px;
}

.repairs-search-sort-container {
  display: flex;
}

.repairs-by-criteria-date-selector {
  display: grid;
  grid-template-columns: repeat(5, minmax(10rem, 15rem));
  margin: 2rem;
  grid-gap: 2rem;
}

.car-model-text {
  text-align: center;
}

.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.car-details {
  font-size: 1.5rem;
  font-weight: 700;
}

.repair-service-name {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.visit-date {
  font-weight: 600;
  vertical-align: middle;
}

.repair-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.repair-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.repair-list-item .repair-list-detail {
  flex: 1 1 0;
}

.repair-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}

.repair-list-item .repair-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

.repair-list-item .repair-list-action {
  display: flex;
  flex-direction: column;
}

.repair-list-item .p-button {
  margin-bottom: 0.5rem;
}

.repair-grid-item {
  margin: 0.5em;
  border: 0.2rem solid #dee2e6;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 30rem;
}

.repair-grid-item .repair-grid-item-top,
.repair-grid-item .repair-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#root > div > div > div.card > div > div.p-dataview-content > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div > div > div.p-dataview-content > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repair-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.repair-grid-item .repair-grid-item-content {
  text-align: center;
}

.repair-grid-item .repair-price {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .repair-list-item {
    flex-direction: column;
    align-items: center;
  }

  .repair-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .repair-list-item .repair-list-detail {
    text-align: center;
  }

  .repair-list-item .repair-price {
    align-self: center;
  }

  .repair-list-item .repair-list-action {
    display: flex;
    flex-direction: column;
  }

  .repair-list-item .repair-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
