input[name='reset-password-field'] {
  width: 100%;
  padding: 0.7rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  resize: vertical;
  margin-bottom: 1.5rem;
}

input[name='reset-password-button'] {
  background-color: #47433d;
  color: white;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  max-height: 3.2rem;
}

input[name='reset-password-button']:hover {
  background-color: #1856c9;
}

.reset-password-container {
  max-width: 50rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  padding: 3rem;
  margin: 0rem auto;
}

.reset-password-title {
  color: rgb(131, 110, 110);
  margin: 1rem auto;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
  .reset-password-container {
    width: 72vw;
  }
  input[name='reset-password-button'],
  input[name='reset-password-field'] {
    margin-top: 1rem;
  }

  .reset-password-title {
    color: rgb(131, 110, 110);
    margin: 1rem auto;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}

.reset-password-form-container {
  background: url('https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
