.form-login-customer .card {
  min-width: 45rem;
  margin-top: 4rem;
  padding: 3rem;
  background-color: rgb(228, 224, 224);
  border-radius: 1rem;
}
.form-login-customer .card form {
  margin-top: 2rem;
}
.form-login-customer .card .p-field {
  margin-bottom: 1.5rem;
}
.p-text-center {
  color: rgb(131, 110, 110);
}
.p-mt-2 {
  outline: none;
  border: 0.1rem black;
  font-size: 1.3rem;
}
@media screen and (max-width: 960px) {
  .form-login-customer .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-login-customer .card {
    width: 90%;
    min-width: 0;
  }
}

#root > div > div > div > form > div:nth-child(3) > a {
  color: rgb(131, 110, 110);
}

.form-login-customer {
  background: url('https://images.pexels.com/photos/1207951/pexels-photo-1207951.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
