.service-order-top {
  background: url('https://www.wallpaperbetter.com/wallpaper/21/42/498/2015-subaru-red-car-road-nature-2K-wallpaper.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.service-order-car-card {
  margin: 2rem auto;
  padding: 1rem;
  background-color: gray;
  width: fit-content;
  border-radius: 0.5rem;
  color: white;
}

.service-order-car-card > h4 {
  margin-bottom: 0.5rem;
}

.service-order-car-card > h2 {
  text-align: center;
  margin-bottom: 0.8rem;
}

.service-procedures-title {
  text-align: center;
  padding: 1rem;
}

.horizontal-line-service-order {
  border: 1px solid gray;
}

.services-dropdown {
  margin-left: 10%;
  margin-right: 10%;
}

.service-order-title {
  text-align: center;
  padding-top: 2rem;
}
