.not-found {
  text-align: center;
  margin-top: 8rem;
  font-size: 3rem;
}

.not-found a {
  width: 100%;
  margin: auto;
  font-weight: bold;
}

.not-found a span {
  background-color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  margin-top: 1rem;
}
