.home-container {
  background: url('https://images.pexels.com/photos/1670457/pexels-photo-1670457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.home-container > h1 {
  color: #fff;
  font-size: 6.5rem;
  margin-top: -8rem;
  margin-bottom: 2rem;
}

.home-container > p {
  margin-top: 1rem;
  color: #fff;
  font-size: 2.5rem;
}

.home-links {
  margin-top: 3rem;
}

#root > div.home-container > div > a {
  text-decoration: none;
}

.home-container-cards {
  background: url('https://images.pexels.com/photos/1571783/pexels-photo-1571783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.home-container-footer {
  background: url('https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cards-container > div {
  padding: 3rem;
  flex: 1 0 21%;
}

.home-container-cards > h2 {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

#root > div.home-container > div > a > button {
  background-color: transparent;
  color: mintcream;
  margin-left: 1rem;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
}

.home-container-footer > h2 {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-align: center;
}
.home-container-footer > p {
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  width: 90%;
}

.service-card-container {
  float: left;
  width: 33.3%;
  margin-bottom: 0.16rem;
  padding: 0 0.8rem;
}
@media screen and (max-width: 800px) {
  .service-card-container {
    width: 60%;
    display: block;
  }

  #root > div.home-container > div > a > button {
    width: 12rem;
    height: 4rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .home-container-cards {
    height: 100%;
    text-align: center;
  }
  .home-container > h1 {
    font-size: 4rem;
  }
}

.home-container > h1 {
  text-align: center;
}
