.about-us-column {
  float: left;
  width: 33.3%;
  padding: 0 0.8rem;
  margin-left: 15rem;
}

.about-us-card {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-left: 3rem;
  width: 60%;
  background: linear-gradient(130deg, #94908e, #7e6268 41.07%, #2e3f41 76.05%);
  color: white;
}
.about-us-card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  height: 23rem;
}
.about-us-card > div {
  text-align: center;
}

.about-header {
  padding: 2rem;
  text-align: center;
  color: white;
}

.about-header > p {
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .about-us-column {
    width: 90%;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1220px) {
  #root > div > div.about-us-row > div:nth-child(2) > div > img,
  #root > div > div.about-us-row > div:nth-child(1) > div > img {
    width: 13rem;
    height: 15rem;
  }
}
@media screen and (max-width: 1220px) {
  .about-us-card {
    width: 17rem;
    height: 25rem;
    margin-bottom: 1rem;
  }
}

.about-wrapper {
  background: url('https://images.pexels.com/photos/1253049/pexels-photo-1253049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
