.profile-container {
  max-width: 50rem;
  padding: 3rem;
  margin: 5rem auto;
}

.profile-header {
  padding: 1rem;
  text-align: center;
  background: #e7ebea;
  color: rgb(136, 104, 104);
  font-size: 2rem;
  background-image: url('https://images.pexels.com/photos/919073/pexels-photo-919073.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.profile-header > * {
  color: #fff;
  font-size: 2.4rem;
}
