.datatable-crud-cars .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-crud-cars .product-image {
  width: 10rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
}

.datatable-crud-cars .p-dialog .product-image {
  width: 15rem;
  margin: 0 auto 2rem auto;
  display: block;
}

.datatable-crud-cars .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div.datatable-crud-cars > div > div > div.p-datatable-wrapper > table > thead > tr > th {
  text-align: center;
}

#root > div.datatable-crud-cars > div > div > div.p-datatable-wrapper > table > tbody > tr > td {
  text-align: center;
}
